body {
  margin: 0;
  padding: 0;
 
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top,  #f5ea2e,#113bd6, #f3c8ac, #ffffff);
  background-position: center;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
